<form method="POST"action="http://ec2-13-211-1-79.ap-southeast-2.compute.amazonaws.com/api/v1/customers">
  <input type ="text" name="given_names"><br>
  <input type="text" name="surname"><br>
  <input type="email" name = "email"><br>
  <input type = "tel" name = "phone_mobile"><br>
  <input type="tel" name = "phone_home"><br>
  <input type="date" name="dob"><br>
  <input type="text" name = "address"><br>
  <input type="text" name="employer_name"><br>
  <input type="text" name = "job_title"> <br>
  <input type="text" name = "device_type"><br>
  <input type="text" name = "device_os"><br>
  <input type="text" name="device_model"><br>
  <input type="text" name = "device_screen_resolution"><br>
  <input type="text" name = "ip_location"> <br>
  <input type="time_zone" name = "time_zone"><br>
  <input type="time_of_day" name ="time_of_day"><br>
  <input type="submit">
</form>
