<form method="POST"id="form-id"action="http://ec2-13-211-1-79.ap-southeast-2.compute.amazonaws.com/api/v1/customers">
  <input type ="text" name="given_names" placeholder="Given name"><br>
  <input type="text" name="surname" placeholder="surname"><br>
  <input type="email" name = "email" placeholder="email"><br>
  <input type = "tel" name = "phone_mobile" placeholder="Mobile"><br>
  <input type="tel" name = "phone_home" placeholder="home"><br>
  <input type="date" name="dob" placeholder="01/01/1990"><br>
  <input type="text" name = "address" placeholder="123 fake streer"><br>
  <input type="text" name="employer_name" placeholder="employer name"><br>
  <input type="text" name = "job_title" placeholder="jon title"> <br>
  <input type="text" name = "device_type" placeholder="device type"><br>
  <input type="text" name = "device_os" placeholder="device os"><br>
  <input type="text" name="device_model" placeholder="device model"><br>
  <input type="text" name = "device_screen_resolution" placeholder="device_screen_resolution"><br>
  <input type="text" name = "ip_location" placeholder="ip location"> <br>
  <input type="time_zone" name = "time_zone" placeholder="time_zone"><br>
  <input type="time_of_day" name ="time_of_day" placeholder="time_of_day"><br>
  <input type="submit">
</form>

<form method="POST"id="form-claim"action="http://ec2-13-211-1-79.ap-southeast-2.compute.amazonaws.com/api/v1/claims">
  <input type ="text" name="customer_id" placeholder="customer id"><br>
  <input type="text" name="exposure" placeholder="exposure"><br>
  <input type="date" name ="date_of_origination" placeholder="<%=Date.today() %>"><br>
  <input type="submit">
</form>

<script>
$('#form-id').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: valuesToSubmit,
        headers: {'Authorization': 'Token 4b1ce14e683240d12cf913633ddfe143'}
    }).success(function(response){
        //success code
    });
    return false;
});

$('#form-claim').submit(function() {
    var valuesToSubmit = $(this).serialize();
    $.ajax({
        type: "POST",
        url: $(this).attr('action'),
        data: valuesToSubmit,
        headers: {'Authorization': 'Token 4b1ce14e683240d12cf913633ddfe143'}
    }).success(function(response){
        //success code
    });
    return false;
});
</script>
